.add-btn {
  background-color: hsl(14, 90%, 50%);
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  outline: none !important;
  border: 1px solid hsl(14, 90%, 50%);
}
.add-btn:hover,
.add-btn:focus,
.add-btn:active {
  color: #fff;
  background-color: hsl(14, 90%, 62%) !important;
  outline: none !important;
  border: 1px solid hsl(14, 90%, 62%) !important;
}
.search-bar-color {
  background-color: hsl(14, 90%, 50%);
  color: #fff;
}
